<link rel = "stylesheet" href = "{{ url_for('static', filename = 'style.css' ) }}"/>
<form class="form-container2">
    <h1 style="font-family:Georgia, 'Times New Roman', Times, serif, Tahoma, sans-serif"
        align ="center">Diaspora Duo typing...
    </h1>

    <h2 align ="center">
        <img src = "{{ url_for('static', filename = 'logo.png' ) }}" style="width:250px;height:175px;" >
    </h2>
    <h3 align ="center" class = "form-container3">

       {{answer}}
     </h3>
</form>


